@import '../../../styles/index';

.DayPickerInput {
	height: 52px;
	width: 100%;
}
.date-input {
	@include form-control();
	font-size: 17px;
	height: 52px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	background-clip: padding-box;
	padding: 10px 20px;
	@include font-family();
	@include font-regular();
	font-size: 16px;
	cursor: pointer;
	caret-color: transparent;
	&::placeholder {
		color: $input-placeholder-color-dark;
	}
}
.date-input:focus {
	cursor: pointer;
	caret-color: transparent;
}
.date-input:hover {
	box-shadow: 1px 5px 30px 0 rgba(201, 201, 201, 0.5);
}
input.date-input:disabled {
	background-color: $date-white;
}
.rdt {
	position: relative;
}
.rdtPicker {
	position: absolute;
	height: auto;
	width: 251px;
	margin-top: 1rem;
	z-index: 99 !important;
	background: $date-white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	display: block;
	font-size: 14px;
	padding: 0px 15px 15px;
	font-family: 'Rubik', sans-serif;
}
.DayPicker-wrapper {
	padding: 0 !important;
}

.rdtPicker .DayPicker-Month {
	width: 100%;
	margin: 0;
	margin-top: 1em;
	padding: 16px 16px 0;
	font-size: 14px;
}
.DayPicker-Day {
	cursor: pointer;
	width: 33px;
	height: 32px;
	text-align: center;
	padding: 5px 0;
	font-size: 12px;
}
.DayPicker {
	display: block !important;
}
.DayPicker-Months {
	display: block !important;
	margin-top: 1rem !important;
}

.rdtPicker .DayPicker-Day:hover {
	background: $date-selected-background;
	cursor: pointer;
	border-radius: 4px;
}
.rdtPicker .DayPicker-Day--selected,
.DayPicker-Day--selected:hover {
	color: $date-selected-color !important;
	background-color: $date-selected-background !important;
	border-radius: 4px;
}
.rdtPicker .DayPicker-Day--today,
.DayPicker-Day--today:hover {
	background: none;
	color: $date-today-color;
	font-weight: 400 !important;
	cursor: not-allowed;
}
.rdtPicker .DayPicker-Day--outside,
.rdtPicker .DayPicker-Day--outside:hover {
	background: none;
	color: $date-day-outside;
	cursor: default;
	pointer-events: none;
}

.rdtPicker .DayPicker-Weekday {
	cursor: pointer;
	width: 33px;
	height: 32px;
	text-align: center;
	padding: 5px 0;
	color: $date-weekday-color;
	border-bottom: 1px solid $date-border-color;
	abbr {
		cursor: pointer;
	}
}
.DayPicker-WeekdaysRow {
	width: 100%;
	background: $date-white;
	border-bottom: 1px solid $date-border-color;
	padding: 5px 0;
	font-size: 12px;
	color: $date-weekday-color;
}

.DayPicker-NavBar {
	position: relative;
	top: 17px;
	svg {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Chrome/Safari/Opera */
		-khtml-user-select: none; /* Konqueror */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none;
	}
}

.DayPicker-Caption {
	margin-bottom: 1em !important;
	div {
		font-size: 12px !important;
		line-height: 1;
		text-align: center;
	}
}
.inputWithIcon {
	position: relative;
	cursor: pointer;
	.calendarIcon {
		position: absolute;
		top: 50%;
		right: 2rem;
		transform: translateY(-50%);
		outline: none;
	}
}
