@import '../../../styles/index';

.review-list {
	@include media-breakpoint-sm {
		padding-bottom: 10rem;
		position: relative;
	}
	display: flex;
	flex-direction: column;
	&__menu {
		cursor: pointer;
		text-align: right;
		&-icon-dots {
			border: 1px solid $info;
			border-radius: 4px;
			padding: 19px;
		}
	}
	&__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		&-heading {
			margin-bottom: 0;
		}
		&-button {
			max-width: 160px;

			@include media-breakpoint-sm {
				bottom: 0;
				position: absolute;
			}
		}
	}
	&__one-review {
		margin-top: 5rem;
		&-heading {
			@include font-medium();
		}
		&-rating {
			display: block;
			margin-bottom: 1rem;
			&-label {
				@include font-size-sm();
				color: $secondary;
				line-height: 16px;
				margin-bottom: 1rem;
			}
		}
		&-text {
			@include font-size-md();
		}
	}
	&__drop-down {
		@include font-medium();
		color: $primary;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		margin-right: 55px;
	}
	&__empty-result-heading {
		margin-top: 5rem;
	}
}
