@import '../../../packages/react-common-components/src/ui/styles/index.scss';

.stories-dropdown-button {
	@include font-size-md();
  @include media-breakpoint-md {
    width: 100%;
  }
  border: 1px solid $info;
  border-radius: 4px;
  cursor: pointer;

  &__dropdown {
    align-items: center;
    display: flex;
    padding: 2rem;

    &-label {
      margin: auto;
      width: 192px;
			@include font-size-md();
      cursor: pointer;
    }

    &-icon {
      cursor: pointer;
      margin-left: auto;
      margin-right: 2rem;

      .recolor-icon {
        fill: $info;
      }
    }
  }

  &:focus, &:active {
    border-color: $primary;

    &__dropdown {
      &-icon {
        .recolor-icon {
          fill: $primary;
        }
      }
    }
  }
}
