@import '../../../styles/index';

@media (min-width: 730px) {
  .modal-dialog {
    max-width: 750px;
  }
}

.modal-sm {
  max-width: 410px;
  margin-top: 145px;
  @include media-breakpoint-sm() {
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.modal-md {
  max-width: 700px;
  margin-top: 145px;
  @include media-breakpoint-sm() {
    max-width: 100%;
  }
}

.modal.fade .modal-dialog {
  background-color: unset;
  transition: none;
}

.modal-backdrop {
  transition: background-color 0.3s;
  background-color: #717486;
}

.modal-content {
  border: none;
}
