@import '../../../styles/index';

.image-gallery {
	display: flex;
	@include media-breakpoint-lg {
		flex-wrap: wrap;
	}

	@include media-breakpoint-md {
		flex-direction: column;
	}
	&__item {
		flex-basis: calc(100% / 3);
		flex-shrink: 2;
		max-width: 100%;
		min-width: 0;
		padding: 0 2rem 2rem;
		text-align: center;
		@include media-breakpoint-md {
			margin-bottom: 2rem;
			max-width: 100%;
		}
		@include media-breakpoint-lg {
			flex-basis: calc(100% / 3);
			padding: 0 2rem 2rem;
		}
		@include media-breakpoint-sm {
			max-width: 100%;
		}
		&-title {
			@include font-size-lg();
			@include font-medium();
			margin-bottom: 1rem;
			margin-top: 2rem;
		}
		&-description {
			@include font-size-md();
		}
		&-image {
			height: 192px;
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			cursor: pointer;
		}
	}
}

.modal-dialog.modal-custom-w {
	max-width: unset;
	width: 90%;
	margin: 5rem auto;
	@include media-breakpoint-sm {
		width: 80%;
		margin: auto;
	}
	.modal-body {
		padding: 0;
	}
	img.img-fluid {
		border-radius: 4px;
	}
	svg.close-modal {
		cursor: pointer;
		height: 16px;
		position: absolute;
		right: 0;
		top: -3rem;
		width: 16px;
		[class$='fill-close-icon'] {
			fill: #fff;
		}
	}
	svg {
		&.gallery-arrow-icon {
			position: absolute;
			top: 40%;
			height: 22px;
			width: 12px;
			z-index: 100;
			cursor: pointer;
			@include media-breakpoint-sm {
				top: 50%;
			}
			&.prev-slide {
				left: -3rem;
			}
			&.next-slide {
				right: -3rem;
			}
			& [class$='icon-recolor'] {
				fill: white;
			}
		}
	}
}
