.incorrect-email {
	background-color: bisque;
	color: brown;
	padding: 10px;
}

.verified-email {
	background-color: cadetblue;
	color: aliceblue;
	padding: 10px;
}

.password-required {
	background-color: brown;
	color: darkkhaki;
	padding: 10px;
}
